@model BioMad_backend.Entities.GenderTranslation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GenderTranslation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaseEntity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaseEntity.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Culture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Culture.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
