@model BioMad_backend.Entities.Category
@inject ApplicationContext DbContext;

@{
    ViewData["Title"] = "Подробнее";
}

<div class="d-flex align-items-center mb-2 justify-content-between flex-wrap">
    <div class="d-flex align-items-center">
        <a class="btn text-primary" asp-action="Index" style="font-size: 20px">❮</a>
        <h4 class="m-0 ml-2">Категория</h4>
    </div>
    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id">Удалить</a>
</div>
<hr/>
<div class="my-grid my-grid-entity-card">
    
    
    <div>
        @Html.LocalizationSection(x => x.Content, DbContext, Model, selectedCultureId: (int) ViewBag.CultureId, selectedTranslationId: (int) ViewBag.TranslationId)

        @{
            var translationAction = (string) ViewData["translationAction"];
            if (translationAction != null)
            {
                var translationEntity = translationAction == FormActionType.Edit
                    ? Model.Translations.FirstOrDefault(x => x.Id == ViewBag.TranslationId)
                    : new CategoryTranslation();
                @await Html.PartialAsync("_TranslationForm", translationEntity)
            }
        }
    </div>


    <div>
        <div class="card">
            <div class="card-header font-weight-bold p-3">Биомаркеры</div>
            @{
                var items = (await DbContext.Biomarkers.Where(x => !Model.BiomarkerIds.Contains(x.Id)).ToListAsync())
                    .OrderBy(x => x.CategoryIds.Count()).ThenByDescending(x => x.Id).ToList();
                var selectList = SelectListHelpers.CreateSelectList(
                    items,
                    x => new SelectListModel { Id = x.Id, Title = x.Id + " - " + x.Localize(Culture.Ru)?.Content?.Name });
                var isDisabled = items.Count == 0;
                <div class="card-body p-2">
                    <form class="d-flex" method="get" asp-action="AddBiomarker">
                        <div class="form-group m-0 w-100 mr-2">
                            <select disabled="@isDisabled" name="entityId" class="custom-select" asp-items="selectList">
                                @if (isDisabled)
                                {
                                    <option>Нет доступных биомаркеров</option>
                                }
                            </select>
                        </div>
                        <input hidden name="containerId" value="@Model.Id">
                        <input disabled="@isDisabled" class="btn btn-primary" type="submit" value="Добавить">
                    </form>
                </div>
            }

            @Html.Table(Model.Biomarkers, x =>
            {
                x = x?.Localize(Culture.Ru) ?? x;
                return new Dictionary<string, object>
                {
                    { "Id", x.Id },
                    { "Название", x.Content?.Name }
                };
            }, x => new List<TableActionButton>
            {
                new TableActionButton
                {
                    Text = "Убрать",
                    Action = "Remove"+nameof(Biomarker),
                    Controller = nameof(Category),
                    Arguments = new
                    {
                        containerId = Model.Id,
                        entityId = x.Id
                    }
                }
            }, deleteAction: false)
        </div>
    </div>
    
    
</div>