@using BioMad_backend.Services
@inject UserService UserService;

@{
    var isAuthenticated = Context.User.Identity.IsAuthenticated;
    var user = isAuthenticated ? UserService.User : null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@(ViewData["Title"]!= null ? ViewData["Title"] + " - " : "") BioMad Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/reset.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            @if (user == null)
            {
                <a class="navbar-brand" asp-area="Admin" asp-controller="Auth" asp-action="LogIn">BioMad Dashboard</a>
            }
            else
            {
                <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">BioMad Dashboard</a>
            }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">

                    <li class="ml-auto d-inline-flex align-items-center mt-2 mt-md-0">
                        @if (isAuthenticated)
                        {
                            <p class="text text-primary m-0 mr-4">@user.Email</p>
                            <button class="btn btn-outline-dark">
                                <a asp-area="Admin" asp-controller="Auth" asp-action="LogOut">Выйти</a>
                            </button>
                        }
                        else
                        {
                            <p class="text text-danger m-0">Не авторизованы</p>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.UtcNow.Year - BioMad Dashboard
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>